/* Timeline CSS */


.uma-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #61a1e5;
}

.support-name {
  font-size: 1.2rem;
  font-style: italic;
  color: #ea8f4d;
}

.date-span {
  color: #ffffff;
}

.timeline-scroll {
display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE and Edge */
  cursor: grab;
}

.timeline-scroll.dragging {
  cursor: grabbing;
}

.timeline-scroll::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}

.timeline-card {
  min-width: 200px;
  flex-shrink: 0;
}

.timeline-card .card {
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid #ddd;
}

.timeline-card .card.selected {
  border: 2px solid #064b9a;
  box-shadow: 0 0 8px rgba(6, 75, 154, 0.4);
}

.timeline-card.highlight {
  border: 2px solid yellow;
  box-shadow: 0 0 10px yellow;
}

.timeline-card h6 {
  font-weight: 600;
}

.timeline-card p {
  font-size: 0.85rem;
}
