:root {
  /* Site colors */
  --primary-site-color: #fe93b1; 
  --secondary-site-color: #5fc8b2; 
  --tertiary-site-color: #b8a1c9;
  --white-text-color: #eaeaea;
  --uma-text-color: #61a1e5;
  --support-text-color: #ea8f4d;

  /* Font weights */
  --font-extra-light: 200;
  --font-light: 300;
  --font-weight-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-weight-bold: 700;

  /* Font sizes */
  --font-size-x-small: 0.7rem;
  --font-size-small: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-large: 1rem;
  --font-size-x-large: 1.25rem;
  --font-size-xx-large: 1.3rem;
  --font-size-xxx-large: 1.7rem;

  /* Spacings */
  --vertical-section-spacing: 1.5rem;
}

body {
  color: var(--white-text-color);          
  font-family: system-ui, sans-serif;
}

#main-body, .header-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Header CSS */

.site-header {
  margin: 0 auto;
  background-color: #1b1b1b; 
  border-bottom: 2px solid #2c2c2c; 
  padding: 1.5rem 0;       
}

.site-header .container {
  margin: 0;
  padding: 0;
}

.site-title {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;

  background: linear-gradient(
    to right,
    var(--primary-site-color) 0%,
    var(--tertiary-site-color) 13%,
    var(--secondary-site-color) 17%   
  );

  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.banner-title {
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--primary-site-color) 15%,
    var(--tertiary-site-color) 70%,
    var(--secondary-site-color) 95%   
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Form CSS */

.form-wrapper {    
  margin-top: var(--vertical-section-spacing);
  margin-bottom: var(--vertical-section-spacing);
  border: 1px solid;
  border-radius: 0.75rem;
}

.banner-title-wrapper {
  display: inline-block;          
  border-radius: 0.5rem;           
  padding: 0.3rem 0.75rem;        
  border: 3px solid var(--tertiary-site-color); 
}

.form-container {
  padding: 0rem;
}

.form-select,
.form-select option,
.form-control {
  font-size: inherit;
}

.form-booleans {
  display: flex;             
  flex-wrap: wrap;   
}

.form-booleans .right-column {
  flex: 2 1 55%; 
  min-width: 300px; 
  max-width: 70%; 
}

.form-booleans .left-column {
  flex: 1 1 45%;          
  min-width: 250px;      
}

.form-check {
  margin-bottom: 0.2rem;  
}

.h3-form-titles {
  font-size: 1.4rem;
}

/* Timeline CSS */

.results-wrapper {
  margin-top: var(--vertical-section-spacing);
  display: inline-flex;
  align-items: center;           
  justify-content: center; 
  border: 2px solid var(--tertiary-site-color);
  border-radius: 0.75rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);

  font-size: 1.1rem;
  font-weight: var(--font-medium);
  min-height: 3rem;
}

.results-wrapper.processing {
  box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.2);
  animation: glow-pulse 1.5s ease-in-out forwards;
}

@keyframes glow-pulse {
  0% {
    box-shadow: 0 0 0px 0 rgba(231, 155, 229, 0.2);
  }
  50% {
    box-shadow: 0 0 10px 3px var(--primary-site-color);
  }
  100% {
    box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.2);
  }
}

.results-text {
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  text-align: center;
  margin: 0;         
}

.uma-name {
  font-size: inherit;
  font-weight: bold;
  color: var(--uma-text-color);
}

.support-name {
  font-size: inherit;
  font-style: italic;
  color: var(--support-text-color);
}

.date-span {
  color: var(--white-text-color);
}

.search-bar {
  max-width: 400px;
}

.timeline-scroll {
  display: flex;
  gap: 1.5rem;
  cursor: grab;
  align-items: stretch;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.timeline-scroll.dragging {
  cursor: grabbing;
}

.timeline-card {
  padding-top: var(--vertical-section-spacing);
  display: flex;
  flex-direction: column;
  width: 19.5rem;
  flex-shrink: 0; 
  min-height: 15rem;
}

.timeline-card .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid var(--white-text-color); 
}

.timeline-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.timeline-card .card.highlight {
  outline-offset: 1px;
  border-color: var(--tertiary-site-color);
  box-shadow: 10px 4px 10px -3px var(--tertiary-site-color); 
}

.timeline-card .card.select-banner-card:hover {
  transform: translateY(-2px);
  border-color: var(--secondary-site-color);
  box-shadow: 10px 4px 10px -3px var(--secondary-site-color); 
}

.timeline-card .card.selected.select-banner-card:hover {
  border: 3px solid var(--primary-site-color);
  box-shadow: 10px 4px 10px -3px var(--primary-site-color);
}

.timeline-card .card.selected {
  border: 3px solid var(--primary-site-color);
}

.timeline-card h6 {
  font-weight: 600;
}

.timeline-card p {
  font-size: 1rem;
}

.select-banner-card {
  position: relative;
  transition: box-shadow 0.25s ease, transform 0.2s ease;
  cursor: pointer;
}

.select-banner-card.selected.calculating::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: 10px 4px 10px 6px var(--primary-site-color);
  border-color: var(--primary-site-color);
  animation: fadeAura 1s ease-out 1 forwards;
  z-index: 2;
}

@keyframes fadeAura {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Adjust styles for different screen sizes */
@media (max-width: 575.98px) {
  body {
    font-size: var(--font-size-normal);
  }

  .footer-content {
    font-size: var(--font-size-x-small);
  }

  .banner-search {
    flex-direction: column;
    align-items: flex-start; /* keeps title aligned left */
    gap: 0.5rem; /* space between title and search bar */
  }

  .search-bar {
    max-width: 250px;
  }

  .timeline-card .card, .timeline-card, .timeline-card img {
    max-width: 80vw;
  }
}

@media (min-width: 576px) {
  body {
    font-size: var(--font-size-large);
  }

  .footer-content {
    font-size: var(--font-size-small);
  }

  .search-bar {
    max-width: 275px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: var(--font-size-large);
  }

  .footer-content {
    font-size: var(--font-size-normal);
  }

  .search-bar {
    max-width: 350px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: var(--font-size-large);
  }

  .footer-content {
    font-size: var(--font-size-normal);
  }

  .search-bar {
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: var(--font-size-large);
  }

  .footer-content {
    font-size: var(--font-size-normal);
  }

  .search-bar {
    max-width: 450px;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: var(--font-size-x-large);
  }

  .footer-content {
    font-size: var(--font-size-normal);
  }

  .search-bar {
    max-width: 500px;
  }
}

@media (min-width: 2160px) {
  body {
    font-size: var(--font-size-xx-large);
  }

  .footer-content {
    font-size: var(--font-size-large);
  }
  .search-bar {
    max-width: 600px;
  }
}