<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Uma Musume Gacha Planner</title>
        <link rel="stylesheet" href="/css/css-reset.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <main>
        <!-- app/views/partials/inputForm.ejs -->
        <%- include('../partials/inputForm') %>

        <!-- app/views/partials/timeline.ejs -->
        <%- include('../partials/timeline', { timeline: timeline }) %>

        </main>

        <script src="/js/index.js"></script> <!-- AJAX POST script-->
    </body>
</html>
